img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

body{
    margin: 50px;
    background-color:#86C8BC;
}

hr{
    background-color: white;
    border-style: dotted none none;
    border-width: 7px;
    border-color: gray;
    width:10%;
    

}

h1, h3{
    color:#DC0000;
}

a:link{

    text-decoration: none;
}


a:hover{

    color: pink;
}